@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  padding-bottom: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.75rem 0;
  border: 2px solid #c5c5c5;
  border-radius: 0.2rem;
}

input:focus {
  outline: none;
  border-color: #562b82;
}

textarea {
  width: 100%;
  border: 2px solid #c5c5c5;
}

textarea:focus {
  outline: none;
  border-color: #562b82;
}

.notes div {
  padding: 0.5rem 0;
}

header {
  background-color: #562b82;
}

header .container {
  background-color: transparent;
}

.header {
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

header h4 {
  color: white;
  margin: 0;
}

label {
  font-weight: 600;
}

.submit-button {
  background-color: #562b82;
  color: white;
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 1rem 0;
}

.entries {
  background-color: #f0f0f0;
}

.entries-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-entries {
  text-align: center;
}

.entries img {
  width: 100%;
  border-radius: 0.5rem;
  padding-bottom: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #562b82;
  color: white;
  width: 4rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
}

form {
  padding-bottom: 1rem;
}

.icon {
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
}

.column {
  flex-basis: 40%;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem 2rem 1rem 2rem;
}

.column h2 {
  margin-bottom: 2rem;
}

.modal {
  justify-content: space-between;
}

.confirm {
  background-color: tomato;
  width: 5rem;
  cursor: pointer;
}

.cancel {
  cursor: pointer;
  background-color: #b6b6b6;
  width: 5rem;
  color: #303030;
}

.button {
  justify-content: space-between;
  padding: 0 1rem;
}

.button span {
  color: tomato;
  text-decoration: underline;
  font-weight: 600;
}

.delete-entry-span {
  cursor: pointer;
}

.switch {
  position: relative;
  width: 60px;
  height: 28px;
  background-color: #6b5580;
  border-radius: 1.5rem;
  padding: 0 2px;
}

.switch-ball {
  transition: 0.5s;
  top: 1px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  background-image: url('../images/moon.png');
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px #477a8550;
}

.flip {
  transform: translateX(31px);
}
